/* For Flexbox Containers and Media Queries */

*, *::after, *::before {
  box-sizing: border-box;
}

div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flez-wrap: wrap;
  flex-wrap:wrap;

  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;

  border: 0.5rem;
  margin: 1rem;
}

.nav-container {
  height: 50px;
  width: 80vw;
  margin: 2rem;
}

.search-container{
  justify-content: flex-end;
  width: 90vw;
}

.outter-container{
  justify-content: space-around;
}

.product-container{
  width:80vw;
}

.product-block {
  height: 300px;
  width: 200px;
  margin: 2rem;
}

.product-container .product-block img {
  height: 300px;
  width: 200px;
}

.product-container .product-block p {
  text-align: left;
}

.list-container{
  width: 100px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
}

.list-container .list-block{
  flex-direction: column;
}

.list-container .list-block p{
  text-align: right;
}

.sales-info .info-block{
  flex-direction: column;
  width: 500px;
  align-content: flex-start;
}



.label-container{
  padding: 0.5rem;
}

.checkout-container {
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
}

.cart-container div {
  -ms-flex: 50%;
  flex: 50%;

  margin-bottom: 5rem;
}

.billing-container {
  -ms-flex: 50%;
  flex: 50%;
}

.payment-container {
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;

  -ms-flex: 100%;
  flex: 100%;
}

  form {
    width: 800px;
  }

  @media (max-width: 900px) {
    form {
      justify-content: flex-start;
      width: 500px;
    }
  }

@media (max-width: 700px) {
  form {
    justify-content: flex-start;
    width: 300px;
  }

  .nav-container {
    height: 200px;
    width: 60vw;
  }

  .search-container{
    justify-content: flex-start;
    width: 90vw;
  }
}
/* Resource: IAT339 Week 3 Coding Tutorial
             IAT339 Week 3 Lab Assignment
             https://jonitrythall.com/flexbox-cheatsheet */
