/* For Flexbox Containers and Media Queries */

*, *::after, *::before {
  box-sizing: border-box;
}

div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flez-wrap: wrap;
  flex-wrap:wrap;

  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;

  border: 0.5rem;
  margin: 1rem;
}

.header-container{
  height: 0%;
}

.nav-container {
  /* height: 50px;
  width: 80vw; */
  flex-grow: 2;
}

.search-container{
  justify-content: flex-end;
  flex-grow: 1;
  margin: 2.5rem 0;
}

.product-outter-container{
  justify-content: space-around;
}

.outter-container{
  flex-direction: row;
  justify-content: flex-start;
}

.product-container{
  display:inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  /* border: 1px solid black; */
  width: 80%;
}

.product-block {
  flex-direction: column;
}

 .product-block img {
  height: 300px;
  width: 200px;
}

.product-container .product-block p {
  text-align: left;
}

.list-container{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  flex-grow: 2;

}

.list-container{
  flex-direction: column;
}

.list-block{
  flex-direction: row;
  border: 1px solid #989898;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
}

.list-container .list-block p{
  text-align: right;
}

.sales-info .info-block{
  flex-direction: column;
  width: 500px;
  align-content: flex-start;
}

.label-container{
  padding: 0.5rem;
}

.checkout-container {
    flex-direction: column;
    justify-content: flex-start;
}

.cart-container{
  /* -ms-flex: 50%;
  flex: 50%;
  margin-bottom: 5rem; */
  flex-direction: column;
}

.cart-container-row{
  flex-direction:row;
  justify-content: center;
}

.cart-container-items{
  border: 1px solid #989898;
  flex-direction: column;
  background-color: white;
  flex-grow: 2;
  border-radius: 10px;
}

.cart-container-total-price{
  border: 1px solid #989898;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  background-color: white;
  height: 0%;
  border-radius: 10px;
}

.cart-total-price{
    border: 1px solid #989898;
    border-radius: 5px;
    text-align: right;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.cart-items{
  flex-direction: row;
  border: 1px solid #989898;
  border-radius: 5px;
}

.cart-image img{
  height: 300px;
  width: 200px;

}

.cart-items div:last-child{
  margin-left: auto;
}

.cart-list li{
  margin: 1rem 0;
}

.billing-container {
  -ms-flex: 50%;
  flex: 50%;
  flex-direction: row;
  justify-content:center;
}

.payment-container {
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;

  -ms-flex: 100%;
  flex: 100%;
}

.footer-container{
  display: flex;
  flex-direction: column;
}

.footer-container nav{
  font-size: 13px;

}

footer{
  background-color: #989898;
  margin-top: 5rem;
}

.footer-text{
  flex-direction: row;
  justify-content: center;
  font-size: 13px;
}

form {
  width: 800px;
}

  @media (max-width: 900px) {
    form {
      justify-content: flex-start;
      width: 500px;
    }
  }

@media (max-width: 700px) {
  form {
    justify-content: flex-start;
    width: 300px;
  }

  /* .nav-container {
    height: 200px;
    width: 60vw;
  }

  .search-container{
    justify-content: flex-start;
    width: 90vw;
  } */
}

@media (max-width:1400px) {
  .product-container{
    order: 2;
  }

  .category-list li{
    float:left;
    font-size: 25px;
  }

  .product-container{
    width: 100%;
    justify-content: center;
  }

  .product-block ul{
    font-size: 20px;
  }
}


/* Resource: IAT339 Week 3 Coding Tutorial
             IAT339 Week 3 Lab Assignment
             https://jonitrythall.com/flexbox-cheatsheet */
