/* Main Elements */
body {
  font-family:'Nunito Sans', sans-serif;
  padding: 2rem;
  background-color: #F5F5F0;
}

header {
  padding: 2rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #1e1e1e;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: lightgray;
  padding: 0.5rem;
  display: block;
}

section {
  padding: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

form{
  border: 1px solid #989898;
  border-radius: 10px;
  font-family:'Nunito', sans-serif;
  overflow: hidden;
  width: 250px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  border-radius: 2px;
  font-family:'Nunito', sans-serif;
  font-weight: bold;
  background: #fff;
  border: 1px solid #989898;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #1e1e1e;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
  resize: vertical;
}


/* For Category Navigation */
.category-nav {
  display: inline-block;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  color: #1e1e1e;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.5s;
}

.category-nav:hover, .category-nav:focus {
  color: #989898;
}

/* For Button Navigation */
.button-nav {
  display: inline-block;
  padding: .5rem;
  margin-bottom: 0.5rem;
  margin: 1rem;
  color: #1e1e1e;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.5s;
  font-weight: bold;
}

.button-nav:hover, .button-nav:focus {
  color: #989898;
}

/*Text Link*/
.text-link {
  color: #1e1e1e;
  transition-property: color;
  transition-duration: 0.5s;
}

.text-link:hover, .text-link:focus {
  color: #355E3B;
}

/*Image Link*/
.image-link {
  display: inline-block;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.image-link:hover, .image-link:focus {
  background-color: #355E3B;
}

/*Text Inputs Labels*/
input {
  border-radius: 2px;
  font-family:'Nunito', sans-serif;
  font-weight: bold;
  margin: 0;
}

label {
  border-radius: 10px;
  font-family:'Nunito Sans', sans-serif;
  font-weight: bold;
  margin: 0;
}

.input-box {
  padding: 30px 30px 0 30px;
}

.input-box label {
  color: #1e1e1e;
  display: block;
}

.input-box input {
  background: #fff;
  border: 1px solid #989898;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #1e1e1e;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}

/* For Search Box */
.search-box input {
  background: #fff;
  border: 1px solid #989898;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #1e1e1e;
  padding: 6px;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  width: 200px;
}

.search-button {
  display: inline-block;
  padding-left: 0.5rem;
  padding-bottom: 1.5rem;
}

.search-button .btn {
  background: linear-gradient(#355E3B, #51905A);
  border: 0;
  color: #F5F5F0;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.75rem;
  padding: 8px 10px;
  margin-right: 0.5rem;
}

/* For Radio */
.radio-box {
  padding: 10px 30px 0 10px;
}

.radio-box p{
  font-family:'Nunito Sans', sans-serif;
  font-weight: bold;
}

.radio-box input{
  width: 15%;
}

.radio-box label {
  font-family:'Nunito', sans-serif;
  font-weight: 300;
  padding-bottom: 10px;
}

.small-form-box {
  width: 250px;
}

/*Submit/Reset Buttons*/
.button-select {
  display: inline-block;
  padding: 1.5rem;
  padding-left: 2rem;
}

.button-select .btn {
  background: linear-gradient(#355E3B, #51905A);
  border: 0;
  color: #F5F5F0;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  float: left;
  padding: 10px 25px;
}

.dropdown .dropdown-content {
  position: fixed;
  display: inline-block;
  margin-top: 3rem;
  margin-left: 0rem;

  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #F5F5F0;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #989898;}

.add-to-cart-btn{
  display: block;
  width: 100%;
  background: linear-gradient(#355E3B, #51905A);
  border: 0;
  color: #F5F5F5;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  padding: 15px 25px;
  margin: 2rem 0;
}

.sizes{
  width: 50%;
  margin: 1rem 0;
  background: #fff;
  border: 1px solid #989898;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);
  color: #1e1e1e;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
}

.quantity{
  background: #fff;
  border: 1px solid #989898;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);
  color: #1e1e1e;
  width: 30%;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
}

.info{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
}

/* Resource for dropdown: https://www.w3schools.com/howto/howto_css_dropdown.asp */

/*
TEXT ELEMENTS -------------------
*/

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5em;
}

h4 {
  margin-bottom: 0.5rem;
}

p {
  font-family:'Nunito', sans-serif;
  margin-top: 0;
  max-width: 100%;
}

/* Resource for dropdown: https://www.w3schools.com/howto/howto_css_dropdown.asp */
/* Resource for form, input, and label:https://learn.shayhowe.com/html-css/building-forms/ */
